<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Clientes</title>
  </head>
  <body>
    <h1>Gestão de Produtos</h1>
    <a href="/cliente/novo">Cadastrar Novo Cliente</a>
    <hr />
    <h2>Lista de Cliente</h2>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>EMail</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% cliente.forEach(cliente => { %>
        <tr>
          <td><%= cliente.id %></td>
          <td><%= cliente.nome %></td>
          <td><%= cliente.email %></td>
          <td>
            <a href="/cliente/detalhe/<%= cliente.id %>">Ver Detalhes</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <br />
    <a href="/">Voltar para Home</a>
  </body>
</html>
